{
	"useTabs": true,
	"tabWidth": 4,
	"semi": false,
	"singleQuote": true,
	"trailingComma": "es5",
	"arrowParens": "avoid",
	"brace_style": "collapse,preserve-inline",
	"svelteBracketNewLine": false
}
